#include <physical_layouts.dtsi>

/ {
  dactyl_physical_layout: dactyl_physical_layout {
	compatible = "zmk,physical-layout";
	display-name = "Dactyl Default Layout";
	transform = <&default_transform>;
	kscan = <&kscan0>;
	keys
	  //					w	h	x	y	  rot rx  ry
	  = <&key_physical_attrs 100 100	0	0	  0	  0	  0>
	  , <&key_physical_attrs 100 100	0	0	  0	  0	  0>
	  , <&key_physical_attrs 100 100	0	0	  0	  0	  0>
	  , <&key_physical_attrs 100 100	0	0	  0	  0	  0>
	  , <&key_physical_attrs 100 100	0	0	  0	  0	  0>
	  , <&key_physical_attrs 100 100	0	0	  0	  0	  0>
	  ;
  };
};
